<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-striped table-dark table-bordered">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User-ID</th>
          <th scope="col">Session-ID</th>
          <th scope="col">Erstellt</th>
          <th scope="col">Läuft aus</th>
          <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let session of this.authService.sessionsList">
          <td>{{session.id}}</td>
          <td>{{session.userId}}</td>
          <td>{{session.sessionId}}</td>
          <td>{{ session.created | date: 'dd/MM/yyyy - HH:mm'}}</td>
          <td>{{ session.expires | date: 'dd/MM/yyyy - HH:mm'}}</td>
          <td><button type="button" class="btn btn-success" (click)="openModal(modal, session.sessionId)">Details</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #modal let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Session-Übersicht</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <form>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">👥</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{sessionObject.userId}}" readonly>
        </div>
        <label class="sr-only" for="inlineFormInputGroup3" >Session-ID</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">🕑-ID</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup3" placeholder="{{sessionObject.sessionId}}" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button">Löschen</button>
          </div>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">🕑-Dauer</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup9" placeholder="{{ sessionObject.sessionStart | date: 'dd/MM/yyyy - HH:mm'}} bis {{ sessionObject.sessionEnd | date: 'dd/MM/yyyy - HH:mm'}}" readonly>
        </div>
        <label class="sr-only" for="inlineFormInputGroup6">Erstellt am</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">⚙</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup6" placeholder="{{ sessionObject.sessionStart | date: 'dd/MM/yyyy - HH:mm'}}" readonly>
        </div>
        <label class="sr-only" for="userAgent">Browser</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">User-Agent</div>
          </div>
          <input type="text" class="form-control" id="userAgent" placeholder="{{sessionObject.userAgent}}" #userAgent readonly>
          <div class="input-group-append">
            <button class="btn btn-primary" id="copy-button" type="button" (click)="test(userAgent)">Kopieren</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="container-sm">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click')">Ok</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
