<!----<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Hostname</th>
    <th scope="col">IP</th>
    <th scope="col">Online</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of deviceList">
    <td>{{device.id}}</td>
    <td>{{device.hostname}}</td>
    <td>{{device.ipv4}}</td>
    <td>{{device.online}}</td>
  </tr>
  </tbody>
</table>

<button (click)="reloadData()" type="button" id="button-reload" class="btn btn-warning">Neuladen</button>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<form [formGroup]="registryForm" (ngSubmit)="generateKey()">
  <div class="form-group" style="width: 25%">
    <label id="label">Neuen Geräte-Key generieren</label>
    <input name="deviceName" type="text" class="form-control" placeholder="Gerätename" formControlName="deviceName">
    <input class="form-control" id="readonly" type="text" placeholder="{{generatedKey}}" readonly>
  </div>
  <button class="btn btn-primary">Erstellen</button>
</form>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Geräte-Identifier</th>
      <th scope="col">Key</th>
      <th scope="col">Löschen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let registry of registryList">
      <td>{{registry.id}}</td>
      <td>{{registry.name}}</td>
      <td>{{registry.authenticationKey}}</td>
      <td>
        <button (click)="deleteRegistry(registry.name)" type="button" class="btn btn-danger">Löschen</button>
      </td>
    </tr>
    </tbody>
  </table>
  <br/>


---->

<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <table id="devices-table" class="table table-striped table-dark table-bordered">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Hostname</th>
            <th scope="col">IP</th>
            <th scope="col">Online</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let device of deviceList">
            <td>{{device.id}}</td>
            <td>{{device.hostname}}</td>
            <td>{{device.ipv4}}</td>
            <td>{{device.online}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col col-3">
        <form [formGroup]="registryForm" (ngSubmit)="generateKey()">
          <div class="form-group">
            <label id="label">Neuen Geräte-Key generieren</label>
            <input name="deviceName" type="text" class="form-control" placeholder="Gerätename" formControlName="deviceName">
            <input class="form-control" id="readonly" type="text" placeholder="{{generatedKey}}" readonly>
          </div>
          <button class="btn btn-primary">Erstellen</button>
        </form>
      </div>
      <div class="col col-9">
        <table class="table table-striped table-dark table-bordered">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Geräte-Identifier</th>
            <th scope="col">Key</th>
            <th scope="col">Löschen</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let registry of registryList">
            <td>{{registry.id}}</td>
            <td>{{registry.name}}</td>
            <td>{{registry.authenticationKey}}</td>
            <td>
              <button (click)="deleteRegistry(registry.name)" type="button" class="btn btn-danger">Löschen</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
