p {
  font-size: 10px;
}

#button-reload {
  margin-left: 10px;
}

#label {
  font-size: 24px;
}

form {
  margin-left: 10px;
}

#readonly {
  margin-top: 5px;
}

#devices-table {
  margin-top: 10px;
}

.body {
  background-color: #1d2224;
}

label {
  color: white;
}
