<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">IoT-Interface</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!isAuthenticated()">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <li class="nav-item {{validate('device')}}" *ngIf="isAuthenticated()">
        <a class="nav-link" href="/device">Geräte</a>
      </li>
      <li class="nav-item {{validate('user')}}" *ngIf="isAuthenticated()">
        <a class="nav-link" href="/user">Benutzer</a>
      </li>
      <li class="nav-item {{validate('sessions')}}" *ngIf="isAuthenticated()">
        <a class="nav-link" href="/sessions">Sessions</a>
      </li>
      <li class="nav-item {{validate('files')}}" *ngIf="isAuthenticated()">
        <a class="nav-link" href="/files">Files</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="isAuthenticated()">
      <button class="btn btn-outline-warning my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
