<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-4">
        <div class="create-user">
          <form name="create-user-form" [formGroup]="userFrom" (ngSubmit)="createUser()">
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Benutzername" required minlength="4" formControlName="username">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Mail" formControlName="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button class="btn btn-primary">Benutzer erstellen</button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="col col-8">
        <button type="submit" class="btn btn-outline-primary mb-2" (click)="resetSearch()">Suche zurücksetzen</button>
        <div class="user-look">
          <form class="form-inline">
            <div class="form-group mb-2">
              <label for="usernameLookup" class="sr-only">Benutzername</label>
              <input (keyup)="updateQueryParams($event)" type="text" class="form-control" id="usernameLookup" placeholder="Username">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">ID aufsteigend</a>
                  <a class="dropdown-item">ID absteigend</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <table class="table table-striped table-dark table-bordered">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nutzername</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Erstellt</th>
            <th scope="col">Aktive Session</th>
            <th scope="col">Aktion</th>
          </tr>
          </thead>
          <tbody *ngIf="!activeSearch">
          <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createdAt}}</td>
            <td>{{user.activeSession}}</td>
            <td><button type="button" data-toggle="modal" data-target="modal" class="btn btn-success" (click)="openModal(modal, user.id)">Bearbeiten</button></td>
          </tr>
          </tbody>

          <tbody *ngIf="activeSearch">
          <tr *ngFor="let user of filteredList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createdAt}}</td>
            <td>{{user.activeSession}}</td>
            <td><button type="button" data-toggle="modal" data-target="#modal" class="btn btn-success" (click)="openModal(modal, user.id)">Bearbeiten</button></td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.user.username}} » ID: {{this.user.userid}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <form>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">👥</div>
            </div>
            <input #username type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{this.user.username}}">
          </div>
          <label class="sr-only" for="inlineFormInputGroup1">E-Mail</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input #email type="email" class="form-control" id="inlineFormInputGroup1" placeholder="{{this.user.email}}">
          </div>
          <label class="sr-only" for="inlineFormInputGroup8">Passwort</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">🔑</div>
            </div>
            <input #password type="password" class="form-control" id="inlineFormInputGroup8" placeholder="Neues Passwort">
          </div>
          <label class="sr-only" for="inlineFormInputGroup2">Aktive Session</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">🕑</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="{{this.user.activeSession}}" readonly>
          </div>
          <label class="sr-only" for="inlineFormInputGroup3" *ngIf="this.user.activeSession">Session-ID</label>
          <div class="input-group mb-2" *ngIf="this.user.activeSession">
            <div class="input-group-prepend">
              <div class="input-group-text">🕑-ID</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup3" placeholder="{{this.user.sessionId}}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-danger" type="button" (click)="deleteSession()">Löschen</button>
            </div>
          </div>
          <div class="input-group mb-2" *ngIf="this.user.activeSession">
            <div class="input-group-prepend">
              <div class="input-group-text">🕑-Dauer</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup9" placeholder="{{ this.user.sessionStart | date: 'dd/MM/yyyy - HH:mm'}} - {{ this.user.sessionEnd | date: 'dd/MM/yyyy - HH:mm'}}" readonly>
          </div>
          <label class="sr-only" for="inlineFormInputGroup6">Erstellt am</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">⚙</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup6" placeholder="{{this.user.createdAt}}" readonly>
          </div>
          <label class="sr-only" for="inlineFormInputGroup5">Letzter Login</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">📝</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup5" placeholder="{{this.user.lastLogin}}" readonly>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="container-sm">
      <div class="row">
        <div class="col col-1">
          <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click')">Ok</button>
        </div>
        <div class="col col">
          <button type="button" class="btn btn-success" (click)="saveChanges(username, email, password)">Änderungen speichern</button>
        </div>
        <div class="col col-2">
          <button type="button" class="btn btn-danger" (click)="deleteUser(this.user.userid)">Löschen</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
